--
-- PostgreSQL database dump
--

\restrict eNaxdy3ElKcXUW4srFrGLJaq62HVvFVxCTWlX4kgDsmNceXM1kIxvgziAG8SaYe

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.achievements (
    id character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255) NOT NULL,
    icon character varying(10) NOT NULL,
    color character varying(20) NOT NULL,
    requirement_type character varying(50) NOT NULL,
    requirement_value character varying(100) NOT NULL
);


--
-- Name: aves; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.aves (
    id_ave integer NOT NULL,
    nombre_comun character varying(100) NOT NULL,
    nombre_cientifico character varying(100) NOT NULL,
    familia character varying(100),
    estado_conservacion character varying(50)
);


--
-- Name: aves_id_ave_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.aves_id_ave_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: aves_id_ave_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.aves_id_ave_seq OWNED BY public.aves.id_ave;


--
-- Name: avistamientos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.avistamientos (
    id_avistamiento integer NOT NULL,
    id_usuario integer,
    id_ave integer,
    id_ubicacion integer,
    notas text,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    estado_moderacion character varying(50) DEFAULT 'Pendiente'::character varying
);


--
-- Name: avistamientos_id_avistamiento_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.avistamientos_id_avistamiento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: avistamientos_id_avistamiento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.avistamientos_id_avistamiento_seq OWNED BY public.avistamientos.id_avistamiento;


--
-- Name: sightings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sightings (
    id integer NOT NULL,
    user_id integer,
    user_name character varying(100),
    bird_name character varying(100) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    location_name character varying(255),
    description text,
    image_url character varying(500),
    status character varying(20) DEFAULT 'pending'::character varying,
    sighted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ai_source character varying(30) DEFAULT NULL::character varying,
    ai_confidence numeric(5,2) DEFAULT NULL::numeric,
    ai_raw_label character varying(150) DEFAULT NULL::character varying,
    ai_status character varying(20) DEFAULT 'skipped'::character varying
);


--
-- Name: sightings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sightings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sightings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sightings_id_seq OWNED BY public.sightings.id;


--
-- Name: ubicaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ubicaciones (
    id_ubicacion integer NOT NULL,
    nombre_sitio character varying(150) NOT NULL,
    latitud numeric(10,6) NOT NULL,
    longitud numeric(10,6) NOT NULL,
    municipio character varying(100)
);


--
-- Name: ubicaciones_id_ubicacion_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ubicaciones_id_ubicacion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ubicaciones_id_ubicacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ubicaciones_id_ubicacion_seq OWNED BY public.ubicaciones.id_ubicacion;


--
-- Name: user_achievements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_achievements (
    id integer NOT NULL,
    user_id integer,
    achievement_id character varying(50),
    unlocked_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: user_achievements_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_achievements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_achievements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_achievements_id_seq OWNED BY public.user_achievements.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'user'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    profile_image character varying(500),
    last_name character varying(100),
    cedula character varying(20)
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id_usuario integer NOT NULL,
    nombre character varying(100) NOT NULL,
    correo character varying(100) NOT NULL,
    contrasena_hash character varying(255) NOT NULL,
    rol character varying(50) DEFAULT 'Registrado'::character varying
);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_usuario_seq OWNED BY public.usuarios.id_usuario;


--
-- Name: aves id_ave; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aves ALTER COLUMN id_ave SET DEFAULT nextval('public.aves_id_ave_seq'::regclass);


--
-- Name: avistamientos id_avistamiento; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.avistamientos ALTER COLUMN id_avistamiento SET DEFAULT nextval('public.avistamientos_id_avistamiento_seq'::regclass);


--
-- Name: sightings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sightings ALTER COLUMN id SET DEFAULT nextval('public.sightings_id_seq'::regclass);


--
-- Name: ubicaciones id_ubicacion; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ubicaciones ALTER COLUMN id_ubicacion SET DEFAULT nextval('public.ubicaciones_id_ubicacion_seq'::regclass);


--
-- Name: user_achievements id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements ALTER COLUMN id SET DEFAULT nextval('public.user_achievements_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: usuarios id_usuario; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_id_usuario_seq'::regclass);


--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: aves; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: avistamientos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.avistamientos (id_avistamiento, id_usuario, id_ave, id_ubicacion, notas, fecha, estado_moderacion) FROM stdin;
1	2	1	1	Observado grupo de 5 cotorras aliment├índose de frutos de card├│n.	2026-06-01 08:30:00	Aprobado
2	2	2	3	Un macho cantando cerca del sendero principal.	2026-06-02 10:15:00	Aprobado
3	2	3	2	Avistamiento de una peque├▒a colonia aliment├índose en la laguna.	2026-06-03 17:00:00	Aprobado
\.


--
-- Data for Name: sightings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ubicaciones; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ubicaciones (id_ubicacion, nombre_sitio, latitud, longitud, municipio) FROM stdin;
1	Pen├¡nsula de Macanao	11.025000	-64.300000	Pen├¡nsula de Macanao
2	Laguna de la Restinga	10.983333	-64.166667	Tubores
3	Cerro El Copey	10.999167	-63.901389	Arismendi
\.


--
-- Data for Name: user_achievements; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_achievements (id, user_id, achievement_id, unlocked_at) FROM stdin;
1	3	first_sighting	2026-07-02 01:43:23.762098
2	3	mangrove_fan	2026-07-02 01:43:23.77237
3	3	migradora_tracker	2026-07-02 01:43:23.773803
4	4	first_sighting	2026-07-02 02:55:29.312211
5	4	mangrove_fan	2026-07-02 02:55:29.318326
6	4	migradora_tracker	2026-07-02 02:55:29.321813
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usuarios (id_usuario, nombre, correo, contrasena_hash, rol) FROM stdin;
1	Administrador Avistar	admin@avistar.ne	pbkdf2:sha256:260000$adminhash$123456	Admin
2	Bi├│logo de Campo	biologo@avistar.ne	pbkdf2:sha256:260000$biologohash$123456	Registrado
\.


--
-- Name: aves_id_ave_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.aves_id_ave_seq', 48, true);


--
-- Name: avistamientos_id_avistamiento_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.avistamientos_id_avistamiento_seq', 1, true);


--
-- Name: sightings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sightings_id_seq', 6, true);


--
-- Name: ubicaciones_id_ubicacion_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ubicaciones_id_ubicacion_seq', 1, false);


--
-- Name: user_achievements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_achievements_id_seq', 6, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_id_usuario_seq', 1, false);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: aves aves_nombre_cientifico_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aves
    ADD CONSTRAINT aves_nombre_cientifico_key UNIQUE (nombre_cientifico);


--
-- Name: aves aves_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aves
    ADD CONSTRAINT aves_pkey PRIMARY KEY (id_ave);


--
-- Name: avistamientos avistamientos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.avistamientos
    ADD CONSTRAINT avistamientos_pkey PRIMARY KEY (id_avistamiento);


--
-- Name: sightings sightings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sightings
    ADD CONSTRAINT sightings_pkey PRIMARY KEY (id);


--
-- Name: ubicaciones ubicaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ubicaciones
    ADD CONSTRAINT ubicaciones_pkey PRIMARY KEY (id_ubicacion);


--
-- Name: user_achievements user_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_user_id_achievement_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_user_id_achievement_id_key UNIQUE (user_id, achievement_id);


--
-- Name: users users_cedula_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_cedula_key UNIQUE (cedula);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_correo_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_correo_key UNIQUE (correo);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: idx_sightings_ai_source; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sightings_ai_source ON public.sightings USING btree (ai_source);


--
-- Name: idx_sightings_ai_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sightings_ai_status ON public.sightings USING btree (ai_status);


--
-- Name: avistamientos avistamientos_id_ave_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.avistamientos
    ADD CONSTRAINT avistamientos_id_ave_fkey FOREIGN KEY (id_ave) REFERENCES public.aves(id_ave) ON DELETE CASCADE;


--
-- Name: avistamientos avistamientos_id_ubicacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.avistamientos
    ADD CONSTRAINT avistamientos_id_ubicacion_fkey FOREIGN KEY (id_ubicacion) REFERENCES public.ubicaciones(id_ubicacion) ON DELETE CASCADE;


--
-- Name: avistamientos avistamientos_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.avistamientos
    ADD CONSTRAINT avistamientos_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: sightings sightings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sightings
    ADD CONSTRAINT sightings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_achievements user_achievements_achievement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_achievement_id_fkey FOREIGN KEY (achievement_id) REFERENCES public.achievements(id) ON DELETE CASCADE;


--
-- Name: user_achievements user_achievements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict eNaxdy3ElKcXUW4srFrGLJaq62HVvFVxCTWlX4kgDsmNceXM1kIxvgziAG8SaYe

